body{
  text-align: center;
  background-image: linear-gradient(to top right, rgba(26,26,26,0.7), rgba(26,26,26,0.9), rgba(26,26,26,0.7));
  color:white;
}

#submit{
  margin-top:0.5%
}

#email{
  margin-top: 0.5%;
}

#msg{
  border:solid;
  border-color: black;
  border-width: 0.01vw;
}
